<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="imobappEntities" connectionString="metadata=res://*/ImobApp.csdl|res://*/ImobApp.ssdl|res://*/ImobApp.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql01.bitnovation.hospedagemdesites.ws;User Id=bitnovation;password=yamaha74*;database=bitnovation&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="imobappEntities" connectionString="metadata=res://*/ImobApp.csdl|res://*/ImobApp.ssdl|res://*/ImobApp.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=imobUser;password=root;database=imobApp&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
