body {
}

table.sample {
	border-width: 2px;
	border-spacing: 2px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.sample th {
	border-width: 2px;
	padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: white;
}
table.sample td {
	border-width: 2px;
	padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: white;;
}
